.summary {
  background-color: #293134;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.23);
}

.heading {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
}

.statistics {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}