.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.scale {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
}

.star {
  background: url(../../images/star.svg) no-repeat center center;
  background-size: 10px 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.active {
  background-size: 30px 30px;
}

.rating {
  height: 30px;
  width: 30px;
  text-align: center;
}

.add {
  font-family: 'REM', sans-serif;
  cursor: pointer;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  color: white;
  background: #6F52F6;
}