.scale {
  /*height: 100px;*/
  /*border: 2px solid lightsalmon;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.star {
  background: url(../../images/star.svg) no-repeat center center;
  background-size: 10px 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.active {
  background-size: 30px 30px;
}

.rating {
  height: 30px;
  text-align: center;
}