.scale {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  margin-right: 8px;
}

.star {
  background: url(../../images/star.svg) no-repeat center center;
  background-size: 10px 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.active {
  background-size: 20px 20px;
}

.rating {
  height: 20px;
  width: 20px;
}

.flex {
  display: flex;
  align-items: center;
}
